@import "../reset.css";

.inner {
  max-width: 1380px;
  margin: 0 auto;
}

body {
  height: 800px;
}

.nav {
  height: 15%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc__name {
  font-size: 100px;
  padding-bottom: 40px;
}
.ft {
  height: 15%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
/************************************************************************************/
/*
  ========================================
  공용 
  ========================================
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  font: 16px "Ubuntu", sans-serif;
  background: #ecf0f1;
  border-top: 5px solid #95a5a6;
}

/*
  ========================================
  제목
  ========================================
*/
header {
  text-align: center;
}
header h1 {
  font-size: 64px;
  font-weight: 300;
  margin: 80px 0 25px;
  color: #3e3e3e;
}
header h1 span {
  font-weight: 700;
}
header h2 {
  color: #646464;
}

/*
  ========================================
  입력받기
  ========================================
*/
.app-insert {
  width: 800px;
  margin: 50px auto 20px;
}
.app-insert input {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  border-bottom: 1px solid #bdc3c7;
  outline: none;
  font: 300 28px "Ubuntu", sans-serif;
  padding: 20px;
}

/*
  ========================================
  Todo 항목
  ========================================
*/
.app-list {
  width: 800px;
  margin: 0 auto;
}
.task {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  position: relative;
  color: #333;

  transition: all 0.2s ease;
}
.task:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.task:hover .remove-task {
  opacity: 1;
}
.task-complete {
  text-decoration: line-through;
  color: #95a5a6;
}
.remove-task {
  opacity: 0;
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: #7f8c8d;

  transition: all 0.2s ease;
}
.remove-task:hover {
  color: #333;
}
