@import "../reset.css";

.inner {
  max-width: 1380px;
  margin: 0 auto;
}

body {
  height: 800px;
}

.nav {
  height: 15%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc__name {
  font-size: 100px;
  padding-bottom: 40px;
}
.ft {
  height: 15%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
